<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation-menu.ejs') %>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h3>Welcome to <strong>Absolute Music</strong></h3>
        <h1>We're Creative Agency</h1>
        <h2>Listen to all sorts of songs at one place. Sign Up toaday!</h2>
        <a href="/login" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->
<%- include('includes/end.ejs') %>