<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation-menu.ejs') %>
            <div class="h-100">
                <section class="gradient-custom">
                    <div class="container py-4 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">

                                        <div class="mb-md-5 mt-md-4 pb-2">
                                            <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                                            <p class="text-white-50 mb-5">Please enter your email to reset
                                                password!</p>

                                            <form action="/reset-password" method="POST">
                                                <div class="form-outline form-white mb-4">
                                                    <input type="email" id="email" name="email"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="email">Email</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input type="password" id="newPassword", name="newPassword"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="password">New Password</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <input type="password" id="repeatPassword" name="repeatPassword" class="form-control form-control-lg" />
                                                    <label class="form-label" for="password">Repeat New Password</label>
                                                </div>
                                                <!-- <div class="form-check mb-4">
                                                    <label class="form-check-label" for="isAdmin">
                                                    <input class="form-check-input" type="radio" name="isAdmin" value="isAdmin" id="isAdmin">
                                                      Admin Account
                                                    </label>
                                                  </div>
                                                  <div class="form-check mb-4">
                                                      <label class="form-check-label" for="isUser">
                                                    <input class="form-check-input" type="radio" name="isAdmin" value="isUser" id="isUser" checked>
                                                      User Account
                                                    </label>
                                                  </div> -->

                                                <button class="btn btn-outline-light btn-lg px-5"
                                                    type="submit">Reset</button>
                                            </form>
                                        </div>

                                        <div>
                                            <p class="mb-0">Don't have an account? <a href="/registration"
                                                    class="text-white-50 fw-bold">Sign
                                                    Up</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- <p>You are now logged in 
                    <span>
                        <button class="btn btn-primary" href="/login">Login</button>
                    </span>
                </p>  -->

                <%- include('includes/end.ejs') %>