<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
  </head>
  <body class="text-center">
<main class="form-signin w-100 m-auto">
    <h1 class="signin-line">This is the dashboard</h1>
</main>
<form action="/dash" method="POST">
 <button class="btn-styled">Logout</button>
</form>
  </body>
</html>
