<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation-menu.ejs') %>  
    <div class="d-flex flex-column justify-content-md-center align-items-center vh-100">

    <h1 class="text-center">Your Playlist</h1>
    <div class="text-center container my-3">
        <a class="btn-styled" href="/admin/add-song">Add Song</a>
    </div>
    <% if(songs.length <= 0) {%>
        <h1>No song found</h1>
    <% } else {%>
        <div class="container">
            <div class="table-responsive-sm">

                <table class="table">
                    <thead>
                        <tr class="bg-info text-center">
                            <th scope="col" >Song Category</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Image URL</th>
                            <th scope="col" colspan="2">Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('includes/show.ejs') %>
                    </tbody>
                </table>
            </div>
            </div>
    </div>
    <% } %>
<%- include('includes/end.ejs') %>