<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation-menu.ejs') %>
           
                <section class="gradient-custom">
                    <div class="container py-4 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">

                                        <div class="mb-md-5 mt-md-4 pb-2">
                                            <h2 class="fw-bold mb-2 text-uppercase">Register New User</h2>
                                            <p class="text-white-50 mb-5">Please enter your details!</p>

                                            <form action="/registration" method="POST">
                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="username" name="username"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="username">Name</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <input type="email" id="email" name="email"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="email">Email</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input type="password" id="password" name="password"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="password">Password</label>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <input type="password" id="repeatPassword" name="repeatPassword"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="password">Repeat Password</label>
                                                </div>
                                                <!-- <div class="form-check mb-4">
                                                    <label class="form-check-label" for="isAdmin">
                                                    <input class="form-check-input" type="radio" name="isAdmin" value="isAdmin" id="isAdmin">
                                                      Admin Account
                                                    </label>
                                                  </div>
                                                  <div class="form-check mb-4">
                                                      <label class="form-check-label" for="isUser">
                                                    <input class="form-check-input" type="radio" name="isAdmin" value="isUser" id="isUser" checked>
                                                      User Account
                                                    </label>
                                                  </div> -->
                                                <!-- <div class="form-outline form-white mb-4">
                                                    <input type="password" id="typePasswordRepeatX" name="typePasswordRepeatX"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="typePasswordRepeatX">Repeat Password</label>
                                                </div> -->

                                                <button class="btn btn-outline-light btn-lg px-5"
                                                    type="submit">Register</button>
                                            </form>
                                        </div>

                                        <div>
                                            <p class="mb-0">Already have an account? <a href="/login"
                                                    class="text-white-50 fw-bold">Sign In</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                       
          
<%- include('includes/end.ejs') %>